body {
    background-color: #f4f4f6;
    font-family: 'Lato', sans-serif;
    color:#2a3843;
}

header{
    height:50px;
    background-color:#31dbda;
    margin: 0 3.5rem 0;
}

hr {
     background-color:   #f4f4f6;
     border-top: 2px dashed #f20544;
     border-bottom:0;
     border-left:0;
     border-right:0;
}

#main-content {
    min-height: 100%;
    height: auto;
    margin: 1rem 7rem 1rem;
}

img {
    border-radius:50%;
}

p{
    font-size:14pt;
}